.navigation{
    padding: 0 8px;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  }
  .navigation ul{ 
  
    display: flex;
  
  
  
  
  }
  .navigation  ul li{
  
    margin : 20px;
    list-style: none;
  }